<div class="container">
  <h1>Category Admin</h1>

  <div class="mb-3">
    <button class="btn btn-success"
      (click)="insertCategory()">
      Add New Category
    </button>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Products</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let category of categories">
        <td>{{ category.id }}</td>
        <td>{{ category.name }}</td>
        <td>{{ category.product_count }}</td>

        <td>
          <button class="btn btn-primary me-2"
            (click)="updateCategory(category.id)">
            Update
          </button>

          <button class="btn btn-danger"
            (click)="deleteCategory(category)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>