.intro-section {
    text-align: center;
    color: white;
    padding: 30px;
    background-color: rgb(25, 29, 53);
    border-radius: 10px;
    margin-bottom: 20px;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.search-input, .product-category {
    width: 250px;
    padding: 10px;
    background-color: rgb(30, 34, 60);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    border-radius: 5px;
}

.search-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.product-item {
    background-color: rgb(25, 29, 53);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.product-item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
}

.product-image {
    width: 100%;
    height: 450px;
    border-radius: 10px;
    object-fit: cover;
}

.product-name {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-description {
    color: rgb(173, 178, 203);
    font-size: 14px;
    margin-bottom: 10px;
}

.product-price {
    color: rgb(255, 184, 77);
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-rating {
    color: rgb(244, 244, 11);
    font-size: 14px;
}

.product-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.space-x {
    margin: 0 10px;
}

button {
    background-color: #007bff; /* Màu xanh dương */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #00b39e; /* Màu xanh đậm khi hover */
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

/* Nút trong phân trang */
.pagination button {
    background-color: #f8f9fa;
    color: #007bff;
    border: 1px solid #007bff;
    padding: 8px 12px;
    margin: 0 5px;
    border-radius: 5px;
}

.pagination button.active {
    background-color: #007bff;
    color: white;
}

.pagination button:hover {
    background-color: #0056b3;
    color: white;
}
