<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>Đây là trang thông tin sản phẩm</h1>
        <p>Sử dụng Bootstrap</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="sqaure-image">
                            <img src="https://media.istockphoto.com/id/1399695296/vi/anh/ng%C6%B0%E1%BB%9Di-%C4%91%C3%A0n-%C3%B4ng-b%C3%ACnh-th%C6%B0%E1%BB%9Dng-freelancer-l%C3%A0m-vi%E1%BB%87c-tr%E1%BB%B1c-tuy%E1%BA%BFn-v%E1%BB%9Bi-macbook-v%C3%A0-%C4%91i%E1%BB%87n-tho%E1%BA%A1i-di-%C4%91%E1%BB%99ng-v%C3%A0.jpg?b=1&s=612x612&w=0&k=20&c=YABWdyQDmHlC1GMyEGlHEC8hQc1eXR7eQZtlB1byyxs=" 
                            class="product-image"
                            alt="Product Image" >
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="sqaure-image">
                            <img src="https://media.istockphoto.com/id/1399695296/vi/anh/ng%C6%B0%E1%BB%9Di-%C4%91%C3%A0n-%C3%B4ng-b%C3%ACnh-th%C6%B0%E1%BB%9Dng-freelancer-l%C3%A0m-vi%E1%BB%87c-tr%E1%BB%B1c-tuy%E1%BA%BFn-v%E1%BB%9Bi-macbook-v%C3%A0-%C4%91i%E1%BB%87n-tho%E1%BA%A1i-di-%C4%91%E1%BB%99ng-v%C3%A0.jpg?b=1&s=612x612&w=0&k=20&c=YABWdyQDmHlC1GMyEGlHEC8hQc1eXR7eQZtlB1byyxs=" 
                            class="product-image"
                            alt="Product Image" >
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="sqaure-image">
                            <img src="https://media.istockphoto.com/id/1399695296/vi/anh/ng%C6%B0%E1%BB%9Di-%C4%91%C3%A0n-%C3%B4ng-b%C3%ACnh-th%C6%B0%E1%BB%9Dng-freelancer-l%C3%A0m-vi%E1%BB%87c-tr%E1%BB%B1c-tuy%E1%BA%BFn-v%E1%BB%9Bi-macbook-v%C3%A0-%C4%91i%E1%BB%87n-tho%E1%BA%A1i-di-%C4%91%E1%BB%99ng-v%C3%A0.jpg?b=1&s=612x612&w=0&k=20&c=YABWdyQDmHlC1GMyEGlHEC8hQc1eXR7eQZtlB1byyxs=" 
                            class="product-image"
                            alt="Product Image" >
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="sqaure-image">
                            <img src="https://media.istockphoto.com/id/1399695296/vi/anh/ng%C6%B0%E1%BB%9Di-%C4%91%C3%A0n-%C3%B4ng-b%C3%ACnh-th%C6%B0%E1%BB%9Dng-freelancer-l%C3%A0m-vi%E1%BB%87c-tr%E1%BB%B1c-tuy%E1%BA%BFn-v%E1%BB%9Bi-macbook-v%C3%A0-%C4%91i%E1%BB%87n-tho%E1%BA%A1i-di-%C4%91%E1%BB%99ng-v%C3%A0.jpg?b=1&s=612x612&w=0&k=20&c=YABWdyQDmHlC1GMyEGlHEC8hQc1eXR7eQZtlB1byyxs=" 
                            class="product-image"
                            alt="Product Image" >
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="sqaure-image">
                            <img src="https://media.istockphoto.com/id/1399695296/vi/anh/ng%C6%B0%E1%BB%9Di-%C4%91%C3%A0n-%C3%B4ng-b%C3%ACnh-th%C6%B0%E1%BB%9Dng-freelancer-l%C3%A0m-vi%E1%BB%87c-tr%E1%BB%B1c-tuy%E1%BA%BFn-v%E1%BB%9Bi-macbook-v%C3%A0-%C4%91i%E1%BB%87n-tho%E1%BA%A1i-di-%C4%91%E1%BB%99ng-v%C3%A0.jpg?b=1&s=612x612&w=0&k=20&c=YABWdyQDmHlC1GMyEGlHEC8hQc1eXR7eQZtlB1byyxs=" 
                            class="product-image"
                            alt="Product Image" >
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="row">
                <div class="thumbnail-container">
                    <div class="thumbnail-item active">
                        <img 
                        src="https://media.istockphoto.com/id/1399695296/vi/anh/ng%C6%B0%E1%BB%9Di-%C4%91%C3%A0n-%C3%B4ng-b%C3%ACnh-th%C6%B0%E1%BB%9Dng-freelancer-l%C3%A0m-vi%E1%BB%87c-tr%E1%BB%B1c-tuy%E1%BA%BFn-v%E1%BB%9Bi-macbook-v%C3%A0-%C4%91i%E1%BB%87n-tho%E1%BA%A1i-di-%C4%91%E1%BB%99ng-v%C3%A0.jpg?b=1&s=612x612&w=0&k=20&c=YABWdyQDmHlC1GMyEGlHEC8hQc1eXR7eQZtlB1byyxs="
                        class="thumbnail-image" 
                        alt="Thumbnail Image" >
                    </div>
                    <div class="thumbnail-item">
                        <img src="https://media.istockphoto.com/id/1399695296/vi/anh/ng%C6%B0%E1%BB%9Di-%C4%91%C3%A0n-%C3%B4ng-b%C3%ACnh-th%C6%B0%E1%BB%9Dng-freelancer-l%C3%A0m-vi%E1%BB%87c-tr%E1%BB%B1c-tuy%E1%BA%BFn-v%E1%BB%9Bi-macbook-v%C3%A0-%C4%91i%E1%BB%87n-tho%E1%BA%A1i-di-%C4%91%E1%BB%99ng-v%C3%A0.jpg?b=1&s=612x612&w=0&k=20&c=YABWdyQDmHlC1GMyEGlHEC8hQc1eXR7eQZtlB1byyxs="
                        class="thumbnail-image" 
                        alt="Thumbnail Image" >
                    </div>
                    <div class="thumbnail-item">
                        <img src="https://media.istockphoto.com/id/1399695296/vi/anh/ng%C6%B0%E1%BB%9Di-%C4%91%C3%A0n-%C3%B4ng-b%C3%ACnh-th%C6%B0%E1%BB%9Dng-freelancer-l%C3%A0m-vi%E1%BB%87c-tr%E1%BB%B1c-tuy%E1%BA%BFn-v%E1%BB%9Bi-macbook-v%C3%A0-%C4%91i%E1%BB%87n-tho%E1%BA%A1i-di-%C4%91%E1%BB%99ng-v%C3%A0.jpg?b=1&s=612x612&w=0&k=20&c=YABWdyQDmHlC1GMyEGlHEC8hQc1eXR7eQZtlB1byyxs="
                        class="thumbnail-image" alt="Thumbnail Image" >
                    </div>
                    <div class="thumbnail-item">
                        <img src="https://media.istockphoto.com/id/1399695296/vi/anh/ng%C6%B0%E1%BB%9Di-%C4%91%C3%A0n-%C3%B4ng-b%C3%ACnh-th%C6%B0%E1%BB%9Dng-freelancer-l%C3%A0m-vi%E1%BB%87c-tr%E1%BB%B1c-tuy%E1%BA%BFn-v%E1%BB%9Bi-macbook-v%C3%A0-%C4%91i%E1%BB%87n-tho%E1%BA%A1i-di-%C4%91%E1%BB%99ng-v%C3%A0.jpg?b=1&s=612x612&w=0&k=20&c=YABWdyQDmHlC1GMyEGlHEC8hQc1eXR7eQZtlB1byyxs="
                        class="thumbnail-image" alt="Thumbnail Image" >
                    </div>
                    <div class="thumbnail-item">
                        <img src="https://media.istockphoto.com/id/1399695296/vi/anh/ng%C6%B0%E1%BB%9Di-%C4%91%C3%A0n-%C3%B4ng-b%C3%ACnh-th%C6%B0%E1%BB%9Dng-freelancer-l%C3%A0m-vi%E1%BB%87c-tr%E1%BB%B1c-tuy%E1%BA%BFn-v%E1%BB%9Bi-macbook-v%C3%A0-%C4%91i%E1%BB%87n-tho%E1%BA%A1i-di-%C4%91%E1%BB%99ng-v%C3%A0.jpg?b=1&s=612x612&w=0&k=20&c=YABWdyQDmHlC1GMyEGlHEC8hQc1eXR7eQZtlB1byyxs="
                        class="thumbnail-image" alt="Thumbnail Image" >
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-details">
                <h2>Thông tin chi tiết sản phẩm</h2>
                <p>Mô tả sản phẩm</p>
                <p>Gía: $99</p>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
                <div class="product-quantity">
                    <div class="border-wrapper">
                        <button>-</button>
                        <input type="text" value="1">
                        <button>+</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
