    <app-header></app-header>
    <div class="container">
        <div class="row">
            <form #loginForm = "ngForm">
            <div class="col-md-6 offset-md-3">
                <div class="login-form mx-auto">
                    <h2 class="login-header">Đăng nhập</h2>
                    <div class="form-group">
                        <label for="phoneNumber">Số điện thoại</label>
                        <input type="text" 
                        class="form-control"
                        name="phoneNumber"
                        required
                        [(ngModel)]="phoneNumber"
                        (input)="onPhoneNumberChange()" 
                        (focus)="loginForm.form.markAllAsTouched()"
                        id="phoneNumber">
                        <div class="divider-nospace"></div>
                        <p class="text-danger"
                            *ngIf="phoneNumber.length > 6 && loginForm.form.touched">Số điện thoại phải nhiều hơn 6 ký tự</p>
                    </div>
                    <div class="mt-5">
                        <div class="form-group password-field">
                            <label for="password">Mật khẩu</label>
                            <input type="password" 
                            name="password"
                            required
                            [(ngModel)]="password"
                            class="form-control" 
                            id="password">
                            <i class="password-toggle fas fa-eye-slash"></i>
                            <div class="divider-nospace"></div>
                            <p class="text-danger"
                                *ngIf="password.length > 0 && loginForm.form.touched">
                                Mật khẩu phải có ít nhất 1 ký tự</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group checkbox-text">
                            <span style="display: flex;">
                                <input type="checkbox" class="form-check-input" id="remember"
                                [(ngModel)]="rememberMe">
                                <label class="form-check-label text-start" for="remember">Ghi nnhớ đăng nhập</label>
                            </span>
                            <a href="#" class="register-link">Quên mật khẩu</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <select class="form-control access-right"
                            [(ngModel)]="selectedRole">
                            <option selected disabled>Quyền đăng nhập</option>
                            <option *ngFor="let role of roles" [ngValue]="role">
                                {{ role.name }}
                            </option>
                        </select>
                    </div>
                    <button type="button" 
                    (click)="login()"
                    class="login-button">Đăng nhập</button>
                    <div class="divider"></div>
                    <p class="text-center">Bạn đăng ký chưa?<span>
                        <a href="#" class="register-link">Tạo tài khoản</a></span></p>
                </div>
            </div>
            </form>
        </div>
    </div>
    <app-footer></app-footer>
