    <app-header></app-header>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="login-form mx-auto">
                    <h2 class="login-header">Đăng nhập</h2>
                    <div class="form-group">
                        <label for="phoneNumber">Số điện thoại</label>
                        <input type="text" class="form-control"
                            name="phoneNumber"
                            [(ngModel)]="phoneNumber"
                            (input)="onPhoneNumberChange()" 
                            (focus)="loginForm.form.markAllAsTouched()"
                            id="phoneNumber">
                        <div class="divider-nospace"></div>
                    </div>
                    <div class="mt-5">
                        <div class="form-group password-field">
                            <label for="password">Mật khẩu</label>
                            
                            <div class="input-wrapper">
                              <input [type]="showPassword ? 'text' : 'password'" 
                                     name="password"
                                     [(ngModel)]="password"
                                     class="form-control" 
                                     placeholder="Ít nhất 3 ký tự" 
                                     id="password">
                              
                              <i class="password-toggle fas"
                                 [class.fa-eye]="!showPassword"
                                 [class.fa-eye-slash]="showPassword"
                                 (click)="togglePasswordVisibility()"></i>
                            </div>
                          </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group checkbox-text">
                            <span style="display: flex;">
                                <input type="checkbox" class="form-check-input" id="remember"
                                [(ngModel)]="rememberMe">
                                <label class="form-check-label text-start" for="remember">Ghi nnhớ đăng nhập</label>
                            </span>
                            <a href="#" class="register-link">Quên mật khẩu</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <select class="form-control access-right"
                            [(ngModel)]="selectedRole">
                            <option selected disabled>Quyền đăng nhập</option>
                            <option *ngFor="let role of roles" [ngValue]="role">
                                {{ role.name }}
                            </option>
                        </select>
                      </div>
                    <button type="button" 
                    (click)="login()"
                    class="login-button">Đăng nhập</button>
                    <div class="divider"></div>
                    <p class="text-center">Bạn đăng ký chưa?<span>
                        <a href="/register" class="register-link">Tạo tài khoản</a></span></p>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
